<div class="root-questions">
  <div class="header"></div>
  <div class="content-questions">
    <div class="question">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsum eveniet voluptatibus accusamus reiciendis nam autem tenetur praesentium facilis, officiis, perferendis tempore quos quis provident doloremque, odit quidem dicta? Et, nesciunt.</div>
    <div class="question">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsum eveniet voluptatibus accusamus reiciendis nam autem tenetur praesentium facilis, officiis, perferendis tempore quos quis provident doloremque, odit quidem dicta? Et, nesciunt.</div>
    <div class="question">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsum eveniet voluptatibus accusamus reiciendis nam autem tenetur praesentium facilis, officiis, perferendis tempore quos quis provident doloremque, odit quidem dicta? Et, nesciunt.</div>
    <div class="question">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsum eveniet voluptatibus accusamus reiciendis nam autem tenetur praesentium facilis, officiis, perferendis tempore quos quis provident doloremque, odit quidem dicta? Et, nesciunt.</div>
    <div class="question">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsum eveniet voluptatibus accusamus reiciendis nam autem tenetur praesentium facilis, officiis, perferendis tempore quos quis provident doloremque, odit quidem dicta? Et, nesciunt.</div>
    <div class="question">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsum eveniet voluptatibus accusamus reiciendis nam autem tenetur praesentium facilis, officiis, perferendis tempore quos quis provident doloremque, odit quidem dicta? Et, nesciunt.</div>
    <div class="question">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsum eveniet voluptatibus accusamus reiciendis nam autem tenetur praesentium facilis, officiis, perferendis tempore quos quis provident doloremque, odit quidem dicta? Et, nesciunt.</div>
    <div class="question">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsum eveniet voluptatibus accusamus reiciendis nam autem tenetur praesentium facilis, officiis, perferendis tempore quos quis provident doloremque, odit quidem dicta? Et, nesciunt.</div>
    <div class="question">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsum eveniet voluptatibus accusamus reiciendis nam autem tenetur praesentium facilis, officiis, perferendis tempore quos quis provident doloremque, odit quidem dicta? Et, nesciunt.</div>
  </div>
  <div class="footer"></div>
</div>