<div class="root-questions">
  <div class="header"></div>
  <div class="main-container">
    <div class="sidebar"></div>
    <div class="content-question">
      <div class="question-details"></div>
      <div class="answers-container">
        <div class="answer-details"></div>
        <div class="answer-details"></div>
        <div class="answer-details"></div>
        <div class="answer-details"></div>
        <div class="answer-details"></div>
      </div>
    </div>  
  </div>
  <div class="footer"></div>
</div>