@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

html, body{
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.root-questions{
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background: #C6FFDD;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #f8989b, #FBD786, #C6FFDD);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #f8989b, #FBD786, #C6FFDD); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.header{
  width: 700%;
  height: 7%;
  z-index: 100;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  background-color: rgba(240,240,240, 0);
}

.header-part{
  height: 100%;
  //background-color: rgb(240, 240, 240);
  background-color: rgba(240,240,240, 0);

}

.header-left{
  width: 278px;
  z-index: 10;
  background-color: rgba(240,240,240, 0);
  //background: rgb(240,240,240);
}

.header-right{
  background-color: rgba(240,240,240, 0);
  width: 1580px;
  -webkit-box-shadow: 2px 3px 5px 2px rgba(0,0,0,0.75);
  -moz-box-shadow: 2px 3px 5px 2px rgba(0,0,0,0.75);
  box-shadow: 2px 3px 5px 2px rgba(0,0,0,0.75);
}

.main-container{
  background-color: rgba(240,240,240, 0);
  overflow: auto;
    width: 100%;  
  height: 87%;
  display: flex;
  flex-direction: row;
}

.sidebar{
  background-color: rgba(240,240,240, 0);
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
  width: 276px;
  height: 40%;
  //background-color: rgb(240, 240, 240);
  -webkit-box-shadow: 3px 4px 5px -1px rgba(0,0,0,0.75);
  -moz-box-shadow: 3px 4px 5px -1px rgba(0,0,0,0.75);
  box-shadow: 3px 4px 5px -1px rgba(0,0,0,0.75);
}

.content-questions{
  /* for Firefox */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  width: 80%;
}

.question{
  width: 80%;
  min-height: 25%;
  background-color: rgb(255, 255, 255);
  margin: 5px 0;
  -webkit-box-shadow: 8px 11px 21px -12px rgba(0,0,0,0.75);
  -moz-box-shadow: 8px 11px 21px -12px rgba(0,0,0,0.75);
  box-shadow: 8px 11px 21px -12px rgba(0,0,0,0.75);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding-left: 10px;
  transition-duration: 0.3s;
}

.heading{
  color: rgba(53, 53, 53, 0.75);
}

.heading{
  margin-bottom: 0;
  color: rgb(26, 26, 46);
  transition-duration: 0.3s;
}

.description{
  line-height: 100%;
  font-size: 1em;
  margin-bottom: 0;
}

.details{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
}

.stats{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 140px;
  height: 30px;
  align-self: flex-end;
}

.upvotes{
  min-width: 50px;
  height: 30px;
  display: flex;
  align-items: center;
  flex-direction: row;
}

.upvotes:hover{
  cursor: pointer;
}

.answers{
  min-width: 50px;
  height: 30px;
  display: flex;
  align-items: center;
  flex-direction: row;
}

.stat-icon{
  background-size: 83% 83%;
  background-repeat: no-repeat;
  width: 22px;
  height: 22px;
}

.like-icon{
  background-image: asset-url('like.svg');
}

.chat-icon{
  background-image: asset-url('chat.svg');
  background-position-y: 3px;
}

.author{
  margin-right: 10px;
  width: 250px;
  height: 60px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-end;
}

.author__avatar{
  height: 60px;
  width: 60px;
  -webkit-box-shadow: 0px 0px 11px 3px rgba(0,0,0,0.27);
  -moz-box-shadow: 0px 0px 11px 3px rgba(0,0,0,0.27);
  box-shadow: 0px 0px 11px 3px rgba(0,0,0,0.27);
  background-size: cover;
}

.author__name{
  font-size: 1em;
  margin-left: 10px;
}

.footer{
  background-color: rgba(240, 240, 240, 0.0);
  width: 100%;
  height: 10vw;
}

a {
  text-decoration: none;
}
